{
    frankenphp
    auto_https off
}

:{env.APP_PORT} {
    root * {env.APP_ROOT}/public
    php_server {
        worker ./public/index.php
    }
}

127.0.0.1:{env.WS_PORT} {
    php_server {
        worker ./public/index.php
    }
}
